.remixPartie1 {
    display: flex;
    justify-content: space-around;

}

.imageRemix1 {
    width: 48vw;

}

.remixPartie2 {
    display: flex;
    margin: 4vw 5vw 3vw 5vw;
}

.remix {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.imageRemix2 {
    height: 285px;
    width: 507px;
}

.videoRemix {
    width: 556.7px;
    height: 285px;
}