body {
	background-color: #141526;
	font-family: 'Quicksand', sans-serif;
}

.logo {
	height: 55px;

}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 50%;

}

.logoBackground {
	border-radius: 50%;
	background-color: #CB4544;
	padding: 8px;
}


h2 {
	color: #001AF5;
	font-family: 'Sedgwick Ave Display', cursive;
	text-transform: uppercase;
	font-size: 2rem;
}


.titrePage {
	color: #001AF5;
	text-decoration: underline;
}

.partie1 {
	background-image: url("../image/disque.jpg");
	background-size: cover;
	width: 100vw;
	height: 400px;
	background-color: #273746;
}

.eltPartie1 {
	margin: 0 5vw;
}

.btn1 {
	background-color: #CB4544;
	font-size: 1.5rem;
	padding: 0.4rem;
	border-radius: 0.2rem;
	border-color: #CB4544;
	cursor: pointer;
}

.btn1:hover {
	background-color: #cb444467;
}

.btn2 {
	background-color: #100000;
	font-size: 1.5rem;
	padding: 0.4rem;
	border-radius: 0.2rem;
	border-color: #CB4544;
	cursor: pointer;

}

.btn2>a {
	color: #CB4544;
}

.partie2 {
	display: flex;
	margin: 0 5vw;
	/*	background-color: red;*/
	align-items: start;
	padding-top: 20px;
	color: #FFFFFF;
	gap: 5vw;
}

.imagePartie2 {
	width: 15vw;
	border-radius: 50%;
}

.eltPartie2 {
	/*	background-color: green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 27vw;
	text-align: justify;
}



.partie3 {
	display: flex;
	justify-content: space-between;
	margin: 0 5vw;
	align-items: center;

}

.videoPartie3 {
	width: 40vw;
	height: 22.5vw;
}

.eltPartie3 {
	width: 40vw;
	color: #FFFFFF;
	font-size: 1.3rem;
	padding-left: 2rem;
}

.btnActive {
	background-color: #FFFFFF;
	font-size: 1.5rem;
	padding: 0.4rem;
	border-radius: 0.2rem;
	border-color: #FFFFFF;
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: center;
	background-color: darkgray;
	margin-top: 0.5vw;
}

footer>a {
	color: #100000;
	text-decoration: none;

}